html {
  font-size: 10px; /* px signifie 'pixels': la taille de base pour la police est désormais 10 pixels de haut  */
  font-family: "Open Sans", sans-serif; /* cela devrait être le reste du résultat obtenu à partir de Google fonts */
background-color: #ccd5ae;
}

h1 {
  font-size: 60px;
  text-align: center;
margin: 0;
  padding: 20px 0;
  color: #606c38
}

img {
  display: block;
  margin: 0 auto;
 text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

p {
color: black;
}

li  {
color: #faedcd
}